#logo {
    width: 3em;
}

.navbar {
    background-image: url("https://static1.squarespace.com/static/532115efe4b01580f3c70efa/54b9bb0fe4b0d1f230ce984d/56d07dbd555986c507b5bb53/1456504512313/catstiledsmall.jpg?format=2500w");
    width: 100%;
}

.navbar-brand {
    background-color: #7FB685;
    border-radius: 14px;
}

.navbar-toggle {
    background-color: #7FB685;
}

#name {
    background-color: #7FB685;
    border-radius: 14px;
}

h1 {
    font-family: "Abril Fatface";
    margin: .25%;
    font-weight: bold;
}

h3 {
    font-size: 3em;
    font-weight: bold;
}

.carouselControls {
    height: 4em;
    background-color: #7FB685;
    border-radius: 18px;
}

.carousel {
    top: 0;
    height: auto;
    width: 100%;
    display: block;
    position: absolute;
}

#menubutton {
    width: 1.2em;
}

.nav-link {
    font-family: Chewy;
    font-size: 1.5em;
    background-color: #7FB685;
    border-radius: 14px;
    padding: 4%;
    margin: 4% 2%;
}

@media (max-width: 992px) {
    .nav-link {
        text-align: center;
    }
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.active {
        margin-right: 0;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-right: -250px;
}

#sidebar {
    background-color: rgba(158,163,176,.9);
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin: 0%;
    padding: 0%;
    margin-right: -250px;
    z-index: 1;
    text-align: center;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

body {
    font-family: Sanchez;
    color: black;
    text-decoration: none;
    background-image: url("https://wallpapercave.com/wp/wp2481150.png");
    
  
}
h4 {
    font-family: Sanchez;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p {
    font-weight: bold;
    color: black;
    font-family: Sanches;
    font-size: 15px;
} 


.card{
    text-align:center;
}


.center{
    text-align:center;
}
.padding {
    margin-top:30px;
    margin-left:80px;
    margin-right:80px;
}

hr {
    height: 0.15px;
    background-color:black;
    width: 60%;
}

footer {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/8vV2rpe/pastel-blue-background-1080p_x1kgy93b__F0000.png");
}

.oof {
    margin: 4%;
}

.footer-heading {
    margin: 4%;
}

.logo {
    margin: 2.7em;
}