h3{
  font-size: 4em;
  color: white;
  font-family: "Sanchez";
}
h1{
  font-size: 7em;
  text-align: center;
  margin: 2%;
  font-family: Josefin Slab;
}
p{
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.282);
  color: white;
  padding: 3px;
  border-radius: 15px;
  font-family: "Montserrat Alternates";
}

.carousel, .carousel-inner, .item, .item>img{
  width: 100%;
}
.imagee {
  position:absolute;
  top:380px;
  left:100px;   
}
.vel{
  font-family: Josefin Slab;
  text-align: center;
  font-size: 40px;
}
h2{
font-family: Josefin Slab;  
text-align: center;
}
hr{
  width: 1px;
}
h4{
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}
#logo {
  width: 3em;
}
.navbar{
  background-color: rgba(209,198,173,.5);
}
h1{
  font-family: "Abril Fatface";
  margin: .25%;
}
.carouselControls{
  height: 4em;
  background-color: rgba(225, 225, 225, 0.884);
  border-radius: 18px;
}
.carousel {
  height: auto;
  width: 100%;
}
#menubutton {
  width: 1.2em;
}
.nav-link {
  font-family: Chewy;
}