#logo {
    width: 3em;
}

.navbar {
    background-image: url("https://static1.squarespace.com/static/532115efe4b01580f3c70efa/54b9bb0fe4b0d1f230ce984d/56d07dbd555986c507b5bb53/1456504512313/catstiledsmall.jpg?format=2500w");
    width: 100%;
    position: relative;
}

.navbar-brand {
    background-color: #7FB685;
    border-radius: 14px;
}

.navbar-toggler {
    background-color: #7FB685;
}

#name {
    background-color: #7FB685;
    border-radius: 14px;
}

h1 {
    font-family: "Abril Fatface";
    margin: .3%;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 3em;
    font-weight: bold;
}

.carouselControls {
    height: 5vh;
    border-radius: 5vh;
    background-color: rgba(255, 255, 255, .9);
}

.carousel {
    height: auto;
    width: 100%;
    display: block;
    margin-top: 4%;
    margin-bottom: 4%;
}

#menubutton {
    width: 2em;
}

.nav-link {
    font-family: Chewy;
    font-size: 1.5em;
    background-color: #7FB685;
    border-radius: 14px;
    padding: 4%;
    margin: 4% 2%;
}

@media (max-width: 992px) {
    .navbar {
        position: sticky;
    }
    .nav-link {
        text-align: center;
    }
    .carousel{
        position: relative;
    }
    
    #logo {
        text-align: center;
    }
}

body {
    font-family: Sanchez;
    color: black;
    text-decoration: none;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BNnQHWfYgiz76sa1n/videoblocks-abstract-pastel-background_rur6x0n-zz_thumbnail-full01.png");
}

h4 {
    font-family: Sanchez;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p {
    font-weight: bold;
    color: black;
}

#text {
    margin: 4%;
}

footer {
    background-image: url("https://cdn.shopify.com/s/files/1/0153/0623/products/Navajo_Wallpaper_in_Pastel_design_by_Cavern_Home-1_a39a62b4-5373-4786-aff6-d78806c69898_2048x2048.jpg?v=1401222775");
}

.oof {
    margin: 4%;
}

.footer-heading {
    margin: 4%;
}

.logo {
    margin: 2.7em;
}
/* sidebar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.resized{
width: 300px;
height: 300px;
}

footer {
    background-image: url("https://cdn.shopify.com/s/files/1/0153/0623/products/Navajo_Wallpaper_in_Pastel_design_by_Cavern_Home-1_a39a62b4-5373-4786-aff6-d78806c69898_2048x2048.jpg?v=1401222775");
}

.oof {
    margin: 4%;
}

.footer-heading {
    margin: 4%;
}

.logo {
    margin: 2.7em;
}
.size3 {
    font-size:4em;
}